# Generating SQL for Postgres using OpenAI via Vanna.AI (Recommended), Vanna Hosted Vector DB (Recommended)
This notebook runs through the process of using the `vanna` Python package to generate SQL using AI (RAG + LLMs) including connecting to a database and training. If you're not ready to train on your own database, you can still try it using a sample [SQLite database](app.md).


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Which LLM do you want to use?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> OpenAI via Vanna.AI (Recommended)</div>
        <small class="w-full">Use Vanna.AI for free to generate your queries</small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../postgres-openai-standard-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">OpenAI</div>
        <small class="w-full">Use OpenAI with your own API key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-openai-azure-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Azure OpenAI</div>
        <small class="w-full">If you have OpenAI models deployed on Azure</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-anthropic-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Anthropic</div>
        <small class="w-full">Use Anthropics Claude with your Anthropic API Key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-ollama-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Ollama</div>
        <small class="w-full">Use Ollama locally for free. Requires additional setup.</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Google Gemini</div>
        <small class="w-full">Use Google Gemini with your Gemini or Vertex API Key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-mistral-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Mistral via Mistral API</div>
        <small class="w-full">If you have a Mistral API key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-other-llm-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other LLM</div>
        <small class="w-full">If you have a different LLM model</small>
      </div>
    </a>
  </li>
    
</ul>


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Where do you want to store the 'training' data?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> Vanna Hosted Vector DB (Recommended)</div>
        <small class="w-full">Use Vanna.AIs hosted vector database (pgvector) for free. This is usable across machines with no additional setup.</small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../postgres-openai-standard-chromadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">ChromaDB</div>
        <small class="w-full">Use ChromaDBs open-source vector database for free locally. No additional setup is necessary -- all database files will be created and stored locally.</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-openai-standard-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Qdrant</div>
        <small class="w-full">Use Qdrants open-source vector database</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-openai-standard-marqo/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Marqo</div>
        <small class="w-full">Use Marqo locally for free. Requires additional setup. Or use their hosted option.</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../postgres-openai-standard-other-vectordb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other VectorDB</div>
        <small class="w-full">Use any other vector database. Requires additional setup.</small>
      </div>
    </a>
  </li>
    
</ul>

## Setup

In [6]:
!pip install vanna

Requirement already satisfied: vanna in d:\sales\sale\lib\site-packages (0.5.5)
Requirement already satisfied: kaleido in d:\sales\sale\lib\site-packages (from vanna) (0.2.1)
Requirement already satisfied: pandas in d:\sales\sale\lib\site-packages (from vanna) (2.2.2)
Requirement already satisfied: plotly in d:\sales\sale\lib\site-packages (from vanna) (5.22.0)
Requirement already satisfied: sqlalchemy in d:\sales\sale\lib\site-packages (from vanna) (2.0.30)
Requirement already satisfied: flask-sock in d:\sales\sale\lib\site-packages (from vanna) (0.7.0)
Requirement already satisfied: sqlparse in d:\sales\sale\lib\site-packages (from vanna) (0.5.0)
Requirement already satisfied: flask in d:\sales\sale\lib\site-packages (from vanna) (3.0.3)
Requirement already satisfied: requests in d:\sales\sale\lib\site-packages (from vanna) (2.32.2)
Requirement already satisfied: tabulate in d:\sales\sale\lib\site-packages (from vanna) (0.9.0)
Requirement already satisfied: blinker>=1.6.2 in d:\sales\sale\lib\site-packages (from flask->vanna) (1.8.2)
Requirement already satisfied: Jinja2>=3.1.2 in d:\sales\sale\lib\site-packages (from flask->vanna) (3.1.4)
Requirement already satisfied: click>=8.1.3 in d:\sales\sale\lib\site-packages (from flask->vanna) (8.1.7)
Requirement already satisfied: itsdangerous>=2.1.2 in d:\sales\sale\lib\site-packages (from flask->vanna) (2.2.0)
Requirement already satisfied: Werkzeug>=3.0.0 in d:\sales\sale\lib\site-packages (from flask->vanna) (3.0.3)
Requirement already satisfied: simple-websocket>=0.5.1 in d:\sales\sale\lib\site-packages (from flask-sock->vanna) (1.0.0)
Requirement already satisfied: numpy>=1.22.4 in d:\sales\sale\lib\site-packages (from pandas->vanna) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\sales\sale\lib\site-packages (from pandas->vanna) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\sales\sale\lib\site-packages (from pandas->vanna) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\sales\sale\lib\site-packages (from pandas->vanna) (2024.1)
Requirement already satisfied: tenacity>=6.2.0 in d:\sales\sale\lib\site-packages (from plotly->vanna) (8.3.0)
Requirement already satisfied: packaging in d:\sales\sale\lib\site-packages (from plotly->vanna) (24.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\sales\sale\lib\site-packages (from requests->vanna) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\sales\sale\lib\site-packages (from requests->vanna) (2024.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\sales\sale\lib\site-packages (from requests->vanna) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in d:\sales\sale\lib\site-packages (from requests->vanna) (3.7)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\sales\sale\lib\site-packages (from sqlalchemy->vanna) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\sales\sale\lib\site-packages (from sqlalchemy->vanna) (3.0.3)
Requirement already satisfied: colorama in d:\sales\sale\lib\site-packages (from click>=8.1.3->flask->vanna) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in d:\sales\sale\lib\site-packages (from Jinja2>=3.1.2->flask->vanna) (2.1.5)
Requirement already satisfied: six>=1.5 in d:\sales\sale\lib\site-packages (from python-dateutil>=2.8.2->pandas->vanna) (1.16.0)
Requirement already satisfied: wsproto in d:\sales\sale\lib\site-packages (from simple-websocket>=0.5.1->flask-sock->vanna) (1.2.0)
Requirement already satisfied: h11<1,>=0.9.0 in d:\sales\sale\lib\site-packages (from wsproto->simple-websocket>=0.5.1->flask-sock->vanna) (0.14.0)

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'D:\Sales\sale\Scripts\python.exe -m pip install --upgrade pip' command.

In [1]:
import vanna
from vanna.remote import VannaDefault

In [2]:
api_key = 'fcaea5a7cc08496eb79f31804da82b8e'
vanna_model_name = 'super_sales'
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

In [3]:
vn.connect_to_sqlite('D:\Sales\sale\orders.db')

## Training
You only need to train once. Do not train again unless you want to add more training data.

In [12]:
df_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

for ddl in df_ddl['sql'].to_list():
  vn.train(ddl=ddl)

Adding ddl: CREATE TABLE "orders" (
"order_id" TEXT,
  "customer_id" TEXT,
  "order_status" TEXT,
  "order_purchase_timestamp" TEXT,
  "order_delivered_carrier_date" TEXT,
  "order_delivered_customer_date" TEXT,
  "order_estimated_delivery_date" TEXT,
  "shipping_limit_date" TEXT,
  "price" REAL,
  "freight_value" REAL,
  "product_category" TEXT,
  "product_weight_g" REAL,
  "product_length_cm" REAL,
  "product_height_cm" REAL,
  "product_width_cm" REAL,
  "customer_city" TEXT,
  "customer_state" TEXT,
  "seller_city" TEXT,
  "seller_state" TEXT,
  "review_score" REAL,
  "review_answer_timestamp" TEXT,
  "review_comment_message" TEXT,
  "sibert_result" TEXT
)

In [54]:
# The following are methods for adding training data. Make sure you modify the examples to match your database.

# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
vn.train(ddl="""CREATE TABLE IF NOT EXISTS orders (
          order_id TEXT,
          customer_id TEXT,
          order_status TEXT,
          order_purchase_timestamp TEXT,
          order_delivered_carrier_date TEXT,
          order_delivered_customer_date TEXT,
          order_estimated_delivery_date TEXT,
          shipping_limit_date TEXT,
          price REAL,
          freight_value REAL,
          product_categoryTEXT,
          product_weight_g REAL,
          product_length_cm REAL,
          product_height_cm REAL,
          product_width_cm REAL,
          customer_city TEXT,
          customer_state TEXT,
          seller_city TEXT,
          seller_state TEXT,
          review_score text,
          review_answer_timestamp TEXT,
          review_comment_message TEXT,
          sibert_result TEXT
    )
""")

# Sometimes you may want to add documentation about your business terminology or definitions.
vn.train(documentation="The database has only 1 table orders that contains details of the orders from an Brazilian E-commerce site. So the currency used will be Brazilian Real. sibert_result is the column in orders table which is the output of sentiment analysis saying whether the comment is positive or negative")

# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(sql="SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'")

Adding ddl: CREATE TABLE IF NOT EXISTS orders (
          order_id TEXT,
          customer_id TEXT,
          order_status TEXT,
          order_purchase_timestamp TEXT,
          order_delivered_carrier_date TEXT,
          order_delivered_customer_date TEXT,
          order_estimated_delivery_date TEXT,
          shipping_limit_date TEXT,
          price REAL,
          freight_value REAL,
          product_categoryTEXT,
          product_weight_g REAL,
          product_length_cm REAL,
          product_height_cm REAL,
          product_width_cm REAL,
          customer_city TEXT,
          customer_state TEXT,
          seller_city TEXT,
          seller_state TEXT,
          review_score text,
          review_answer_timestamp TEXT,
          review_comment_message TEXT,
          sibert_result TEXT
    )

Adding documentation....
Question generated with sql: What are the details of the order with the order ID '3b697a20d9e427646d92567910af6d57'?
Adding SQL...

'4e36cad5f3ddf65339666e8eec27caa2-sql'

In [4]:
vn.train(
    question="Which are the top 5 customers that ordered the most?", 
    sql="SELECT customer_id, COUNT(order_id) AS order_count FROM orders GROUP BY customer_id ORDER BY order_count DESC LIMIT 5;"
)

'e5e3fc985d06fa117a7711a7a48e7433-sql'

In [13]:
vn.train(sql="SELECT product_category, COUNT(*) AS positive_reviews_count FROM orders WHERE sibert_result = 'POSITIVE' GROUP BY product_category ORDER BY positive_reviews_count DESC LIMIT 1;")

Question generated with sql: What is the product category with the highest count of positive reviews?
Adding SQL...

'b20e7298e11fa9548680c27a37ed156a-sql'

In [15]:
vn.train(sql="SELECT customer_id, COUNT(order_id) AS order_count FROM orders GROUP BY customer_id ORDER BY order_count DESC LIMIT 5;")

Question generated with sql: What are the top 5 customers with the highest number of orders?
Adding SQL...

'05d185387bc5d0b3d651a678882d8731-sql'

In [16]:
vn.train(sql="SELECT COUNT(*) AS orders_count FROM orders WHERE order_purchase_timestamp = '2021-10-03';")

Question generated with sql: How many orders were made on October 3, 2021?
Adding SQL...

'1e0a05c2a601100246e2024c0684145e-sql'

In [17]:
vn.train(sql="SELECT COUNT(*) AS order_count FROM orders WHERE order_purchase_timestamp LIKE '2021-10-03%';")

Question generated with sql: How many orders were made on October 3rd, 2021?
Adding SQL...

'470eea7df8da752e4812797cfb4bff9d-sql'

In [4]:
vn.train(sql="SELECT product_category, SUM(price) AS total_sales FROM orders GROUP BY product_category ORDER BY total_sales DESC LIMIT 10;")

Question generated with sql: What are the top 10 product categories by total sales?
Adding SQL...

'20106cafa0b8015d86b0150b67fa6805-sql'

In [6]:
import pandas as pd
pd.set_option('display.max_colwidth', None) # Show full content of each colum

In [ ]:
vn.train(sql="")

In [7]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,1006026-doc,documentation,None,The database has only 1 table orders that contains details of the orders from an Brazilian E-commerce site. So the currency used will be Brazilian Real. sibert_result is the column in orders table which is the output of sentiment analysis saying whether the comment is positive or negative
1,317082-sql,sql,What are the top 5 customers with the highest number of orders?,"SELECT customer_id, COUNT(order_id) AS order_count FROM orders GROUP BY customer_id ORDER BY order_count DESC LIMIT 5;"
2,316978-sql,sql,What are the details of the order with the order ID '3b697a20d9e427646d92567910af6d57'?,SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'
3,317039-sql,sql,Which are the top 5 customers that ordered the most?,"SELECT customer_id, COUNT(order_id) AS order_count FROM orders GROUP BY customer_id ORDER BY order_count DESC LIMIT 5;"
4,317173-sql,sql,"How many orders were made on October 3rd, 2021?",SELECT COUNT(*) AS order_count FROM orders WHERE order_purchase_timestamp LIKE '2021-10-03%';
5,316979-sql,sql,What are the details of the order with the order_id 3b697a20d9e427646d92567910af6d57?,SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'
6,170545-ddl,ddl,None,"CREATE TABLE IF NOT EXISTS orders (\n order_id TEXT,\n customer_id TEXT,\n order_status TEXT,\n order_purchase_timestamp TEXT,\n order_delivered_carrier_date TEXT,\n order_delivered_customer_date TEXT,\n order_estimated_delivery_date TEXT,\n shipping_limit_date TEXT,\n price REAL,\n freight_value REAL,\n product_categoryTEXT,\n product_weight_g REAL,\n product_length_cm REAL,\n product_height_cm REAL,\n product_width_cm REAL,\n customer_city TEXT,\n customer_state TEXT,\n seller_city TEXT,\n seller_state TEXT,\n review_score text,\n review_answer_timestamp TEXT,\n review_comment_message TEXT,\n sibert_result TEXT\n )\n"
7,317079-sql,sql,What is the product category with the highest count of positive reviews?,"SELECT product_category, COUNT(*) AS positive_reviews_count FROM orders WHERE sibert_result = 'POSITIVE' GROUP BY product_category ORDER BY positive_reviews_count DESC LIMIT 1;"
8,399871-sql,sql,What are the top 10 product categories by total sales?,"SELECT product_category, SUM(price) AS total_sales FROM orders GROUP BY product_category ORDER BY total_sales DESC LIMIT 10;"

In [19]:
# You can remove training data if there's obsolete/incorrect information.
vn.remove_training_data(id='317167-sql')

True

## Asking the AI
Whenever you ask a new question, it will find the 10 most relevant pieces of training data and use it as part of the LLM prompt to generate the SQL.

In [ ]:
vn.ask(question="What are the details of the order with the order_id 3b697a20d9e427646d92567910af6d57?")

[{'role': 'system', 'content': "You are a SQLite expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE IF NOT EXISTS orders (\n          order_id TEXT,\n          customer_id TEXT,\n          order_status TEXT,\n          order_purchase_timestamp TEXT,\n          order_delivered_carrier_date TEXT,\n          order_delivered_customer_date TEXT,\n          order_estimated_delivery_date TEXT,\n          shipping_limit_date TEXT,\n          price REAL,\n          freight_value REAL,\n          product_categoryTEXT,\n          product_weight_g REAL,\n          product_length_cm REAL,\n          product_height_cm REAL,\n          product_width_cm REAL,\n          customer_city TEXT,\n          customer_state TEXT,\n          seller_city TEXT,\n          seller_state TEXT,\n          review_score text,\n          review_answer_timestamp TEXT,\n          review_comment_message TEXT,\n          sibert_result TEXT\n    )\n\n\n\n===Additional Context \n\nThe database has only 1 table orders that contains details of the orders from an Brazilian E-commerce site. So the currency used will be Brazilian Real. sibert_result is the column in orders table which is the output of sentiment analysis saying whether the comment is positive or negative\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n"}, {'role': 'user', 'content': "What are the details of the order with the order ID '3b697a20d9e427646d92567910af6d57'?"}, {'role': 'assistant', 'content': "SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'"}, {'role': 'user', 'content': 'What are the details of the order with the order_id 3b697a20d9e427646d92567910af6d57?'}]
SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'
SELECT * FROM orders WHERE order_id = '3b697a20d9e427646d92567910af6d57'
                           order_id                       customer_id  \
0  3b697a20d9e427646d92567910af6d57  355077684019f7f60a031656bd7262b8

  order_status order_purchase_timestamp order_delivered_carrier_date  \
0    delivered      2021-10-03 09:44:00          2021-10-23 14:02:00

  order_delivered_customer_date order_estimated_delivery_date  \
0           2021-10-26 14:02:00                    2021-10-27

   shipping_limit_date  price  freight_value  ... product_height_cm  \
0  2021-10-21 16:27:20   29.9          15.56  ...              16.0

   product_width_cm  customer_city  customer_state  seller_city seller_state  \
0              16.0      sao paulo       São Paulo     cascavel       Paraná

  review_score review_answer_timestamp        review_comment_message  \
0          4.0     2021-10-30 21:32:15  Ease of handling the device.

   sibert_result
0       POSITIVE

[1 rows x 23 columns]